/* ---------------------------------------------------------------------------
   override bootstrap sass variables specified here:
   http://getbootstrap.com/customize/#less-variables
----------------------------------------------------------------------------*/

$font-family-sans-serif: "Open Sans", Helvetica, Arial, sans-serif;

$primary-:     white;
$primary:      #4c74b0;
$secondary:    #4c74b0;
$info:         #146d9d;
$gray-light:   #CCCCCC;
$light-blue:   #E3EAF2;

$link-color: $primary;
$link-hover-color: lighten($primary, 20%);

$dropdown-color: white;
$dropdown-link-color: white;
$dropdown-link-hover-color: lighten($primary, 20%);
$dropdown-link-hover-bg: $primary;

$dropdown-bg: $primary;
$dropdown-border-radius: 0;
$dropdown-border-width: 0;
$dropdown-spacer: 0;

$nav-link-hover-color: $dropdown-link-hover-color;


$pagination-bg: $primary;
$pagination-hover-bg: lighten($pagination-bg, 10%);
$pagination-disabled-bg: $gray-light;

$input-font-size: 0.875rem !default;
$input-btn-font-size: 0.875rem !default;
/* ---------------------------------------------------------------------------
   project specific variables
----------------------------------------------------------------------------*/
